@model MelodyShop.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Użyj innego serwisu do zalogowania</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>

                Nie skonfigurowano żadnych zewnętrznych usług uwierzytelniania.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Zaloguj się używając konta @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
