@model IEnumerable<MelodyShop.DataAccessLayer.DataToOrder>

@{
    ViewBag.Title = "Złożone zamówienia";
}

<h2>Zamówienia</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Product.producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Product.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.messageToOrder)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Product.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Product.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.messageToOrder)
            </td>
        </tr>
    }

</table>
