@model IEnumerable<MelodyShop.DataAccessLayer.Product>
@{
    ViewBag.Title = "Produkty";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h2>Lista produktów</h2>

    <p>
        @Html.ActionLink("Dodaj nowy produkt", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>

                    @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.ActionLink("Dodaj do koszyka", "AddToCart", "Carts", new { id = item.id },null)
                </td>
            </tr>
        }

    </table>
}