@model IEnumerable<MelodyShop.DataAccessLayer.Cart>

@{
    ViewBag.Title = "Koszyk";
}

@if (TempData["SM"] != null)
{
    <div class="alert-danger alert">
        @TempData["SM"]
    </div>
}

<h2>Zawartość twojego koszyka</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.producer)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Product.model)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Edytuj ilość", "Edit", new { id = item.id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Dodaj dane do przesyłki.", "Create", "DataToOrders")
</div>
